.container {
    padding: 30px 10px;
    width: clamp(350px, 70%, 700px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



.displayName, .email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.displayName {
    width: 100%;
    color: var(--black);
    font-size: clamp(1.3em, 3vw, 2em);
}

.email {
    color: var(--grey);
    font-size: clamp(1em, 2.5vw, 1.4em);
}



.pfp {
    width: clamp(60px, 10vw, 100px);
    height: clamp(60px, 10vw, 100px);
    border-radius: 50%;
    border: 1px solid var(--black);
}





.settingsIcon {
    width: clamp(30px, 6.5vw, 40px);
    height: clamp(30px, 6.5vw, 40px);
    margin-left: auto;
    color: var(--orangePrimary);
    cursor: pointer;
}










.orange { background-color: var(--orangePrimary); }
.orange:hover { background-color: var(--orangePrimaryShadow); }
.red { background-color: var(--red); }
.red:hover { background-color: var(--redShadow); }
.grey { background-color: var(--grey); }
.grey:hover { background-color: var(--greyShadow); }






.viewPostsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.postsButton {
    padding: 2px 5px;
    border: 1px solid var(--black);
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.postsButtonFocused {
    background-color: rgba(0, 0, 0, 0.2);
}

.postsContainer {
    padding: min(1.5vw, 20px);
    flex: 1;
    width: 100%;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
}

.postsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: min(2.5vw, 40px) min(1.3vw, 20px) ;
}


.postContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
}

.postImgWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.postImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.post h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: clamp(0.8em, 2.1vw, 1.1em);
}