.title {
    font-weight: 500;
    text-align: center;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formItem textarea {
    min-width: 300px;
    max-width: 450px;
    min-height: 80px;
    max-height: 150px;
}


.subText {
    color: var(--greyText);
}



.imgWrapper {
    position: relative;
    padding: 10px;
    width: 60px;
    height: 105px;
}
.imgWrapper img {
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: contain;
    cursor: pointer;
}
.imgDelete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}